body{
    background: white;
}
.bg-success{
    background-color: #2ecc71 !important;
}
.bg-secondary{
    background-color: #ececec !important;
}
#letters{
    font-family: 'Times New Roman', monospace;
    font-weight: bold;
}
#home_img{
    background-image:   url("https://res.cloudinary.com/dubb4luoi/image/upload/v1622924717/Imagen1_nhbbbb.png");
    width: 100%;
    
}
#home_text{
    filter: brightness(100%);
}